@model QLHD.Models.DT_CNTT_TIENDO_TT

<button type="button" data-toggle="modal" data-target="#@ViewBag.delete" title="Xóa" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash" style="font-size: 15px"></i>
</button>
<div class="modal fade" id="@ViewBag.delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteTienDoTTPost", "HDCNTT", new { HDCNTT_ID = @Model.HOPDONG_DT_CNTT_ID, TIENDO_ID = Model.TIENDO_TT_ID }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Xác nhận xóa</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        Bạn có chắc muốn xóa lịch sử thanh toán không?
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Xóa" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy" />
                </div>
            }
        </div>
    </div>
</div>