<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-label col-md-4">
                            <label style="float: right">Tên dự án:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" style="width: 100%" id="TEN_DUAN" name="TEN_DUAN" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="control-label col-md-4">
                            <label style="float: right">Chủ đầu tư:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" style="width: 100%" id="CHU_DT" name="CHU_DT" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label col-md-5">
                            <label style="float: right">Loại dự án:</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("LOAI_DUAN_ID", (IEnumerable<SelectListItem>)ViewBag.loaiDA, new { @class = "form-control", @style = "width: 100%", @id = "loaiDA" })
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-4">
                        <div class="control-label col-md-4">
                            <label style="float: right">Trạng thái :</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("LOAITRANGTHAI_ID", (IEnumerable<SelectListItem>)ViewBag.TTDA, new { @class = "form-control", @style = "width: 100%", @id = "TTDA" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label col-md-4">
                            <label style="float: right">Từ ngày:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" class="form-control" style="width: 100%" id="TU_NGAY" name="TU_NGAY" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label col-md-5">
                            <label style="float: right">Đến ngày:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control" style="width: 100%" id="DEN_NGAY" name="DEN_NGAY" />
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 text-center" style="margin-top: 15px">
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 0px">Tìm kiếm <span class="glyphicon glyphicon-search" /></button>
                </div>
            </div>

        </div>

    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('#txtloaiTimKiem').change(function () {
            var id = $('#txtloaiTimKiem').val();
            if (id == 1 || id == 5) {
                $('#tenDA').show();
                $('#chuDT').hide();
                $('#loaiDA').hide();
                $('#loaiHD').hide();

                $('#loaiDA').hide();
            }
            if (id == 2) {
                $('#tenDA').hide();
                $('#chuDT').show();
                $('#loaiDA').hide();
                $('#loaiHD').hide();

                $('#loaiDA').hide();
            }
            if (id == 3) {
                $('#tenDA').hide();
                $('#chuDT').hide();
                $('#loaiDA').show();
                $('#loaiHD').hide();

            }
            if (id == 4) {
                $('#tenDA').hide();
                $('#chuDT').hide();
                $('#loaiDA').hide();
                $('#loaiHD').show();
            }
        });
        var curYear = new Date().getFullYear();
        document.getElementById("TU_NGAY").value = curYear.toString() + "-01-01";
        document.getElementById("DEN_NGAY").value = curYear.toString() + "-12-31";
        $("#TTDA").append('<option value="0" selected>--Tất cả--</option>');
        $("#loaiDA").append('<option value="0" selected>--Tất cả--</option>');
        //$('#DEN_NGAY').value = "2013-01-08";
    });
</script>
