@model List<QLHD.ViewModel.TienTrinh>
    @{
        ViewBag.Title = "QuyTrinhHDCNTT";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quy trình hợp đồng</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="timeline">
                @foreach(var item in Model)
                {
                    <div class="row timeline-nodes" style='@(item.VTT == true ? "margin-left: 19.5%; display: flex" : "margin-right: 19.5%; display: flex")'>
                        <div class="col-10 col-md-5 order-3 order-md-1 timeline-content" style="width: 33.5%;">
                            <h3 class=" text-light">@item.TenTienTrinh</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eaque amet deleniti hic quas qui cumque delectus aliquid, eius quia quod, quae, aliquam aspernatur facilis. Minima quod corporis dignissimos porro.</p>
                        </div>
                        <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                            <img src="img/img13.png" class="img-fluid" alt="img">
                        </div>
                        <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                            <time>2018-02-23</time>
                        </div>
                    </div>
                }




                @*<div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes" style="margin-right: 19.5%; display: flex">
                    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content" style="width: 33.5%;">
                        <h3 class=" text-light">Timeline Heading</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eaque amet deleniti hic quas qui cumque delectus aliquid, eius quia quod, quae, aliquam aspernatur facilis. Minima quod corporis dignissimos porro.</p>
                    </div>
                    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                        <img src="img/img13.png" class="img-fluid" alt="img">
                    </div>
                    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                        <time>2018-02-23</time>
                    </div>
                </div>*@
            </div>
        </div>

    </div>


    @section partial_script {

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <link href="~/Content/css/HDCNTT/quytrinhhopdong.css" rel="stylesheet" />
    }

