USE [master]
GO
/****** Object:  Database [CameraIOC]    Script Date: 03/05/2022 6:43:40 PM ******/
CREATE DATABASE [CameraIOC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CameraIOC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CameraIOC.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CameraIOC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CameraIOC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CameraIOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CameraIOC]
GO
/****** Object:  Table [dbo].[ALARM_TYPE]    Script Date: 03/05/2022 6:43:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALARM_TYPE](
	[ID_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[NAME_TYPE] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ALARM_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ALARM_VIEWER]    Script Date: 03/05/2022 6:43:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALARM_VIEWER](
	[ID_ALARM] [int] IDENTITY(1,1) NOT NULL,
	[CAM_ID] [varchar](max) NOT NULL,
	[NAME_CAM] [nvarchar](max) NOT NULL,
	[TIME_ALARM] [varchar](max) NOT NULL,
	[ID_TYPE] [int] NOT NULL,
	[INFO_ALAMRM] [varchar](max) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[IsTrue] [bit] NULL,
 CONSTRAINT [PK_ALARM_VIEWER] PRIMARY KEY CLUSTERED 
(
	[ID_ALARM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_CAMERA]    Script Date: 03/05/2022 6:43:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_CAMERA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_HUYEN] [int] NOT NULL,
	[MA_XA] [int] NOT NULL,
	[CAM_ID] [nvarchar](max) NOT NULL,
	[TEN_CAM] [nvarchar](max) NOT NULL,
	[LAT_CAM] [nvarchar](100) NOT NULL,
	[LONG_CAM] [nvarchar](100) NOT NULL,
	[LOAI] [int] NOT NULL,
	[IsImportant] [bit] NULL,
 CONSTRAINT [PK_DM_CAMERA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_HUYEN]    Script Date: 03/05/2022 6:43:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_HUYEN](
	[MA_HUYEN] [int] NOT NULL,
	[TEN_HUYEN] [nvarchar](max) NOT NULL,
	[LAT_HUYEN] [varchar](max) NOT NULL,
	[LONG_HUYEN] [varchar](max) NOT NULL,
 CONSTRAINT [PK_DM_HUYEN] PRIMARY KEY CLUSTERED 
(
	[MA_HUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_XA_PHUONG]    Script Date: 03/05/2022 6:43:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_XA_PHUONG](
	[MA_XA] [int] NOT NULL,
	[MA_HUYEN] [int] NOT NULL,
	[TEN_XA] [nvarchar](max) NOT NULL,
	[LAT_XA] [varchar](max) NOT NULL,
	[LONG_XA] [varchar](max) NOT NULL,
 CONSTRAINT [PK_DM_XA_PHUONG] PRIMARY KEY CLUSTERED 
(
	[MA_XA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ALARM_TYPE] ON 

INSERT [dbo].[ALARM_TYPE] ([ID_TYPE], [NAME_TYPE]) VALUES (1, N'Disconnect')
INSERT [dbo].[ALARM_TYPE] ([ID_TYPE], [NAME_TYPE]) VALUES (2, N'Motion Detected')
INSERT [dbo].[ALARM_TYPE] ([ID_TYPE], [NAME_TYPE]) VALUES (3, N'Responding')
SET IDENTITY_INSERT [dbo].[ALARM_TYPE] OFF
SET IDENTITY_INSERT [dbo].[ALARM_VIEWER] ON 

INSERT [dbo].[ALARM_VIEWER] ([ID_ALARM], [CAM_ID], [NAME_CAM], [TIME_ALARM], [ID_TYPE], [INFO_ALAMRM], [PRIORITY], [IsTrue]) VALUES (26, N'47BCC39F-7A4D-4C47-9874-F429256691AA', N'Cong Chinh Khu Hanh Chanh Huyen (10.1.8.136)', N'25/04/2022 9:49:31 AM', 2, N'Phat hien chuyen dong', 2, 1)
INSERT [dbo].[ALARM_VIEWER] ([ID_ALARM], [CAM_ID], [NAME_CAM], [TIME_ALARM], [ID_TYPE], [INFO_ALAMRM], [PRIORITY], [IsTrue]) VALUES (27, N'540962D8-8FAB-41AC-A987-6A4626CE9429', N'Nga 4 The Gioi Di Dong - (10.1.8.138)', N'25/04/2022 9:49:15 AM', 2, N'Phat hien chuyen dong', 2, 1)
INSERT [dbo].[ALARM_VIEWER] ([ID_ALARM], [CAM_ID], [NAME_CAM], [TIME_ALARM], [ID_TYPE], [INFO_ALAMRM], [PRIORITY], [IsTrue]) VALUES (28, N'BDEB3246-5F44-4691-A3C0-9611E5EF0408', N'THCS Nguyen Dang Son - (10.1.8.100)', N'25/04/2022 9:48:37 AM', 2, N'Phat hien chuyen dong', 2, 1)
SET IDENTITY_INSERT [dbo].[ALARM_VIEWER] OFF
SET IDENTITY_INSERT [dbo].[DM_CAMERA] ON 

INSERT [dbo].[DM_CAMERA] ([ID], [MA_HUYEN], [MA_XA], [CAM_ID], [TEN_CAM], [LAT_CAM], [LONG_CAM], [LOAI], [IsImportant]) VALUES (87, 893, 30628, N'47BCC39F-7A4D-4C47-9874-F429256691AA', N'Cong Chinh Khu Hanh Chanh Huyen (10.1.8.136)', N'10.55062', N'105.40392', 1, 1)
INSERT [dbo].[DM_CAMERA] ([ID], [MA_HUYEN], [MA_XA], [CAM_ID], [TEN_CAM], [LAT_CAM], [LONG_CAM], [LOAI], [IsImportant]) VALUES (88, 893, 30628, N'540962D8-8FAB-41AC-A987-6A4626CE9429', N'Nga 4 The Gioi Di Dong - (10.1.8.138)', N'10.54789', N'105.4034', 1, 0)
INSERT [dbo].[DM_CAMERA] ([ID], [MA_HUYEN], [MA_XA], [CAM_ID], [TEN_CAM], [LAT_CAM], [LONG_CAM], [LOAI], [IsImportant]) VALUES (89, 893, 30628, N'BDEB3246-5F44-4691-A3C0-9611E5EF0408', N'THCS Nguyen Dang Son - (10.1.8.100)', N'10.550201', N'105.403001', 1, 0)
SET IDENTITY_INSERT [dbo].[DM_CAMERA] OFF
INSERT [dbo].[DM_HUYEN] ([MA_HUYEN], [TEN_HUYEN], [LAT_HUYEN], [LONG_HUYEN]) VALUES (883, N'TP Long Xuyên', N'10.385638969432069', N'105.41696983017916')
INSERT [dbo].[DM_HUYEN] ([MA_HUYEN], [TEN_HUYEN], [LAT_HUYEN], [LONG_HUYEN]) VALUES (884, N'TP Châu Đốc', N'10.712013697990171', N'105.10711033373316')
INSERT [dbo].[DM_HUYEN] ([MA_HUYEN], [TEN_HUYEN], [LAT_HUYEN], [LONG_HUYEN]) VALUES (886, N'Huyện An Phú', N'10.87193043665513', N'105.10081469275444')
INSERT [dbo].[DM_XA_PHUONG] ([MA_XA], [MA_HUYEN], [TEN_XA], [LAT_XA], [LONG_XA]) VALUES (30279, 883, N'Camera KCL', N'10.39744', N'105.42130')
INSERT [dbo].[DM_XA_PHUONG] ([MA_XA], [MA_HUYEN], [TEN_XA], [LAT_XA], [LONG_XA]) VALUES (30280, 883, N'P.Mỹ Bình', N'10.387869992333187', N'105.43547457861527')
INSERT [dbo].[DM_XA_PHUONG] ([MA_XA], [MA_HUYEN], [TEN_XA], [LAT_XA], [LONG_XA]) VALUES (30283, 883, N'P.Mỹ Long', N'10.379733509687581', N'105.44326363711964')
ALTER TABLE [dbo].[ALARM_VIEWER]  WITH CHECK ADD  CONSTRAINT [FK_ALARM_VIEWER_ALARM_TYPE] FOREIGN KEY([ID_TYPE])
REFERENCES [dbo].[ALARM_TYPE] ([ID_TYPE])
GO
ALTER TABLE [dbo].[ALARM_VIEWER] CHECK CONSTRAINT [FK_ALARM_VIEWER_ALARM_TYPE]
GO
ALTER TABLE [dbo].[DM_CAMERA]  WITH CHECK ADD  CONSTRAINT [FK_DM_CAMERA_DM_HUYEN] FOREIGN KEY([MA_HUYEN])
REFERENCES [dbo].[DM_HUYEN] ([MA_HUYEN])
GO
ALTER TABLE [dbo].[DM_CAMERA] CHECK CONSTRAINT [FK_DM_CAMERA_DM_HUYEN]
GO
ALTER TABLE [dbo].[DM_CAMERA]  WITH CHECK ADD  CONSTRAINT [FK_DM_CAMERA_DM_XA_PHUONG] FOREIGN KEY([MA_XA])
REFERENCES [dbo].[DM_XA_PHUONG] ([MA_XA])
GO
ALTER TABLE [dbo].[DM_CAMERA] CHECK CONSTRAINT [FK_DM_CAMERA_DM_XA_PHUONG]
GO
ALTER TABLE [dbo].[DM_XA_PHUONG]  WITH CHECK ADD  CONSTRAINT [FK_DM_XA_PHUONG_DM_HUYEN] FOREIGN KEY([MA_HUYEN])
REFERENCES [dbo].[DM_HUYEN] ([MA_HUYEN])
GO
ALTER TABLE [dbo].[DM_XA_PHUONG] CHECK CONSTRAINT [FK_DM_XA_PHUONG_DM_HUYEN]
GO
USE [master]
GO
