@using QLHD.Models;
@model List<QLHD.Models.HTTT>
@{
    ViewBag.Title = "Hình thức thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý HTTT</h3>
            <h4>@ViewBag.thongbaoxoa</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="nav navbar-left">
                <form class="form-horizontal">
                    
                </form>
            </div>
            <div class="nav navbar-right">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addHTTT"><i class="fa fa-plus"></i>Thêm mới</button>
                </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh mục HTTT </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped">
                        <tr>
                            <th>STT</th>
                            <th>Tên HTTT</th>
                            <th>Ghi chú</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                        @Html.Action("PartialHTTT", "HeThong")
                        
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Action("addHTTT","Partial")