@model QLHD.Models.HOPDONG_CHIPHI


<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("updatefilepost", "HDChiPhi", new { idhd = @Model.HOPDONG_CHIPHI_ID }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cập nhật file HĐ</h4>
                </div>     
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="control-label col-md-4">
                                <b>Chọn File HĐ:</b>
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="File" id="File" class="form-control" value="@Model.File"/>
                            </div>
                        </div>  
                    </div>
                    <div class="clearfix"></div>
                </div>             
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Cập nhật" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy" />
                </div>
            }
        </div>
    </div>
</div>