@model QLHD.Models.THANHVIEN
<button type="button" class="btn btn-danger btn-xs btn-round" data-toggle="modal" data-target="#@ViewBag.xoaTV" title="Xóa">
    <span class="fa fa-remove"></span>
</button>
<div class="modal fade" id="@ViewBag.xoaTV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("xacnhanxoaThanhVien", "HeThong", new { idTV = @Model.ID_THANHVIEN }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Xác nhận xóa</h4>
                </div>     
                <div class="modal-body">
                    <div class="form-horizontal">
                        xác nhận xóa @Model.TEN_THANHVIEN
                    </div>
                    <div class="clearfix"></div>
                </div>             
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Xóa" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy" />
                </div>
            }
        </div>
    </div>
</div>
