@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">404</h1>
                        <h2>Xin lỗi, chức năng này chưa có hoặc đang phát triễn</h2>
                        <p>Vui lòng quay lại vào lần sau
                        </p>
                        <div class="mid_center">
                            <h3><span class="glyphicon glyphicon-hand-right"></span><a href="@Url.Action("Index","Home")">Trang chủ</a></h3>

                        </div>
                    </div>
                </div>
            </div>
